# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# virtual environment
.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# http files
http-preview.log 
http-preview.err

# raw data and artifacts
.env
backend/data/
backend/artifacts/
backend/temp/
frontend/public_app/*.json
frontend/public/*.json
